.form {
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  gap: 5px;
  width: 400px;
  padding: 5px 10px;
  /* justify-content: flex-start; */
}
.label {
  font-size: 25px;
}
.input {
  max-width: 50%;
  padding: 5px 10px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: inset -1px -1px 4px 0px grey;
  &:focus-within {
    border-color: aqua;
  }
}
.button {
  width: 120px;
  font-size: 16px;
  padding: 0 10px;
  margin-bottom: 5px;
  cursor: pointer;
  &:active {
    background-color: blue;
    color: azure;
  }
}
